#list-side-bar {
	position: fixed;
	width: 25%;
	height: 100vh;
	
	background-color: #00B76F;
	color: white;
}

#enum-list {
	height: 90%;
	overflow-y: scroll;
	scrollbar-width: none;
}

.enum {
	height: 15%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	cursor: pointer;
	background-color: #007943;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.enum:hover {
	background-color: #004E27;
}

.content {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.enum .content span {
	width: auto;
	font-size: 40px;
	font-family: 'Source Sans Pro', sans-serif;
}

.hover {
	z-index: -1;
	position: absolute;
	height: 15%;
	width: 100%;
}

.hover div {
	background-color: #007943;
	width: 0;
	height: 100%;
	transition: 0.2s all;
}

#enum-add span {
	width: auto;
}

#setting-menu {
	height: 10%;
	width: 100%;
	
	display: flex;
	flex-direction: row;
	background-color: #007943;
}

.settings-point {
	width: 100%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.settings-point img {
	position: relative;
	top: 50%;
	width: 80px;
	height: 80px;
	
	transition: 0.2s all;
}

