#list-side-bar {
	position: fixed;
	width: 25%;
	height: 100vh;
	
	background-color: #00B76F;
	box-shadow: -10px -10px 10px 5px #4B4141;
	color: white;
}

#enum-list {
	height: 90%;
	overflow-y: scroll;
	scrollbar-width: none;
}

.enum {
	height: 15%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	cursor: pointer;
	background-color: #007943;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.enum:hover {
	background-color: #004E27;
}

.content {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;

    padding-left: 2%;
}

#enum-add .content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: unset;
}

.enum .content span {
	width: auto;
	font-size: 3vw;
	font-family: 'Source Sans Pro', sans-serif;
}

.enum .content .icon {
    width: available;
    height: 80%;
    margin-right: 8%;
}

#enum-add span {
	width: auto;
}

#setting-menu {
	height: 10%;
	width: 100%;
	
	display: flex;
	flex-direction: row;
	background-color: #007943;
	box-shadow: -5px -5px 5px 5px #4B4141;
}

.settings-point {
	width: 100%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.settings-point img {
	position: relative;
	top: 50%;
	width: 80px;
	height: 80px;
	
	transition: 0.2s all;
}

