@keyframes errorAnimation {
    0% {transform: rotate(0)}
    25% {transform: rotate(1deg)}
    50% {transform: rotate(-1deg)}
    75% {transform: rotate(1deg)}
    100% {transform: rotate(0deg)}
}

#prompt-container {
    position: fixed;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

#prompt-background {
	position: fixed;
    display: flex;
	z-index: 1;
	background-color: #000000;
	opacity: 0;
	
	width: 100%;
	height: 100vh;
    justify-content: center;
    align-items: center;

    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#prompt {
	all:unset;
	position: fixed;
	z-index: 2;
	background-color: #00B76F;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

	width: 60%;
	height: 80%;
    transform: scale(0,0);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

#prompt #prompt-preview-menu-bar {
    width: 100%;
    height: 10%;

    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;

    background-color: white;
}

#prompt #prompt-preview-menu-bar span {
    position: relative;
    left: 60px;
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 70px;
}

#prompt #prompt-content {
    width: 100%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#prompt #prompt-content #information {
    height: 100%;
    width: 49.9%;

    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-y: scroll;
    scrollbar-width: none;
}

#prompt #prompt-content #information #information-container {
    margin-top: 5%;
    width: 80%;
}


#prompt #prompt-content #information input {
    height: 50px;
    width: 96%;
    margin: 10px 0;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid white;
}
#prompt #prompt-content #information textarea {
    font-size: 20px;
    width: 96%;
    background-color: white;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid white;
    padding: 2%;
}

#prompt #prompt-content #information  #input-icon {
    width: 100%;
    height: auto;
}

#prompt #prompt-content #information #input-icon #input-icon-title {
    width: 96%;
    height: 50px;

    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 20px;
    padding-left: 2%;
    padding-right: 2%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#prompt #prompt-content #information #input-icon #input-icon-title #left {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#prompt #prompt-content #information #input-icon #input-icon-title #left #current-icon {
    height: 80%;
    margin-right: 20px;
}

#prompt #prompt-content #information #input-icon #drop-down-arrow {
    height: 40%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    -ms-transition: transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
}

#prompt #prompt-content #information #input-icon #input-icon-title .enroll-arrow {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

#prompt #prompt-content #information #input-list-icon {
    width: 96%;
    height: 0;
    opacity: 0;

    padding: 0 2%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#prompt #prompt-content #information #input-icon .enroll {
    width: 100%;
    height: 100%;
    opacity: 1;
}

#prompt #prompt-content #information #input-icon #input-list-icon div {
    width: 23%;
    background-color: white;
    margin: 1%;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#prompt #prompt-content #information #input-icon #input-list-icon .selected-icon {
    border: 1px solid black;
}

#prompt #prompt-content #information #input-icon #input-list-icon div:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#prompt #prompt-content #information #input-icon #input-list-icon div img {
    width: 80%;
    height: 80%;
}

#prompt #prompt-content #border {
    height: 100%;
    width: 2px;


    background-color: white;
}

#prompt #prompt-content #tags {
    height: 100%;
    width: 49.9%;
}

#prompt #prompt-submit-box {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: flex-end;
}

#prompt #prompt-content #information .error-animation {
    border: 1px solid red;
    -webkit-animation-name: errorAnimation;
    -moz-animation-name: errorAnimation;
    -o-animation-name: errorAnimation;
    animation-name: errorAnimation;

    animation-duration: 0.5s;
    animation-timing-function: linear;
}

#prompt #prompt-content #information .error-message {
    color: red;
    margin-left: 10px;
    font-size: 35px;
}

#prompt #prompt-submit-box #button-container {
    width: 20%;
    height: 100%;
    padding-right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prompt #prompt-submit-box #button-container #submit-button {
    width: 45%;
    height: 40%;

    color: black;
    background-color: white;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#prompt #prompt-submit-box #button-container #cancel-button {
    width: 45%;
    height: 40%;

    color: black;
    background-color: white;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#prompt #prompt-submit-box #button-container #cancel-button:hover {
    background-color: lightcoral;
}

#prompt #prompt-submit-box #button-container #submit-button:hover {
    background-color: lightgreen;
}
