#list-side-bar {
	position: fixed;
	width: 25%;
	height: 100vh;
	
	background-color: #00B86C;
	color: white;
}

#enum-list {
	height: 85%;
}

.enum {
	height: 15%;
	width: 100%;
	
	background-image: -webkit-linear-gradient(#00b8a0, #00b89b, #00b895, #00b88f, #00b888);
	background-image: -o-linear-gradient(#00b8a0, #00b89b, #00b895, #00b88f, #00b888);
	background-image: linear-gradient(#00b8a0, #00b89b, #00b895, #00b88f, #00b888);
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	cursor: pointer;
}

.enum span {
	width: 80%;
	font-size: 40px;
	font-family: 'Source Sans Pro', sans-serif;
}

#enum-add span {
	width: auto;
}

#setting-menu {
	height: 15%;
	width: 100%;
	
	display: flex;
	flex-direction: row;
}

.settings-point {
	width: 33.33%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.settings-point img {
	position: relative;
	top: 50%;
	width: 100px;
	height: 100px;
}

