#current-list {
	z-index: -1;
	position: fixed;
	left: 25%;
	width: 37.5%;
	height: 100vh;

	display: flex;
	align-items: center;
	flex-direction: column;

	background-color: #00B76F;
}

#recommended-list {
	position: fixed;
	left: 62.5%;
	width: 37.5%;
	height: 100vh;

	display: flex;
	align-items: center;
	flex-direction: column;

	background-color: #00B76F;
}

.search-box {
	height: 10%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.search {
	all: unset;
	width: 80%;
	height: 20px;
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	-webkit-box-shadow: 3px 3px 3px 3px #4B4141;
	box-shadow: 3px 3px 3px 3px #4B4141;

	font-family: 'Source Sans Pro', sans-serif;
}

#current-content-box {
	width: 90%;
	height: 85%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;

	overflow-y: scroll;
}

#recomended-content-box {
	width: 90%;
	height: 85%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;

	overflow-y: scroll;
}

.item {
	width: 19%;
	background-color: #ff0051;
	margin: 0.5%;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	color: white;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: pointer;
}

.item .first-letter {
	font-size: 10vh;
	height: 8vh;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.item img {
	width: 60%;
	height: 60%;
}

.item span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5vw;
}


